Source: netrunner-pinebook-desktop-settings
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/netrunner-pinebook/netrunner-pinebook-desktop-settings

Package: netrunner-pinebook-desktop-settings
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: netrunner desktop specific settings
 This package contains settings that are specific to Netrunner Desktop
