[Unit]
Description=Zeronet - Decentralized websites using Bitcoin crypto and the BitTorrent network

[Service]
User=zeronet
Group=zeronet
WorkingDirectory=/opt/zeronet/ZeroNet-master
ExecStart=/usr/bin/env python2 zeronet.py --tor always --ui_ip "*" --ui_host "$(hostname)"
Restart=on-failure

[Install]
WantedBy=default.target 
